body {
	font-size: large;
}

ul {

	padding: 10px;
	margin-left:30px;
}

a {
	
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

a:hover {
	color: black;
	background-color: rgb(150,150,150);
}