body {
	font-family:     Verdana, Geneva, Arial, sans-serif;
	font-size:large;
	font-color:#39819d;
}

header {
	background-image: url(images/background.jpg);
	height: 350px;
	background-repeat: no-repeat;
}

header img {

}


#navor {
	float: right;
}
nav ul {
	margin:10px 30px 10px 10px;
	background:white;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
	text-align: center;
}
nav ul li {
	display: inline; 
	padding: 5px 30px 5px 30px;
}

a:link {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
	background-color: #39819a;
}

.image img{
	border: none;
}

.image {
	text-align: center;
	margin-top: 50px;
}