body {
	font-family:     Verdana, Geneva, Arial, sans-serif;
	font-size:large;
	background-color: #2a2a2a;
}

header h1 {
	margin-top: 30px;
	font-size:1.8em;
	text-align: center;
	color: #3a8eb7;
}

nav {
	margin: 10px 10px 0px 10px;
}
nav ul {
	margin:0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
	text-align: center;
}
nav ul li {
	display: inline;
	color:#39819d;
	padding: 5px 30px 5px 30px;
}

a:link {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
	background-color: #39819a;
}

a:visited {
	text-decoration: none;
}

.image img{
	border: none;
}

.image {
	text-align: center;
	margin-top: 50px;
}
