canvas {

	border: 1px solid black;

}

form {

	display: table;

	padding: 10px;

	border: thin dotted #7e7e7e;

	background-color: #e1ceb8;

}



div.tableRow {

	display: table-row;

}



div.tableRow p {

	display: table-cell;

	vertical-align: top;

	padding: 3px;

}



div.tableRow p:first-child {

	text-align: right;

	font-weight: bold;

}